<div id="index2">
	<div id="index">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-8 text-center" style="margin-top: 220px; margin-bottom:320px;">
					<div class="col-md-12" id="title">
						<h1>Data Visaulization</h1>
					</div>
					<div class="col-md-12" style="margin-top:20px;">
						<div class="btn font-18 btn-bg btn-index btn-fill-blue" id="index-start-btn">
							Projects
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>