<div id="index">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-8 text-center" style="margin-top: 255px; padding-bottom:320px;">
				<div class="col-md-12" id="title">
					<h1>Data Visaulization</h1>
				</div>
				<div class="col-md-12" style="margin-top:20px;">
					<%= link_to "Projects",projects_path ,class:"btn font-18 btn-bg btn-index btn-fill-blue", id:"index-start-btn" %>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="index-mobile">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-left">
				<div class="col-xs-12" id="title-mobile" >
					<h1>Data Visaulization</h1>
				</div>
				<div class="col-xs-12 text-right" style="margin-top:20px;">
					<%= link_to "Projects",projects_path ,class:"btn font-18 btn-bg btn-index-moblie btn-fill-blue", id:"index-start-btn" %>
				</div>
			</div>
		</div>
	</div>
</div>