<div class="container">
	<div class="row" style="padding-top:50px;">
		<div class="col-md-8 col-md-offset-2" id="project2-graph">
			
		</div>
		<div class="col-md-8 col-md-offset-2 text-center" id="graph-type-btns">
			<%= graph_type_link("Rainfall","累計雨量","累計雨量(mm)" ) %>
			<%= graph_type_link("Distance","地滑距離","地滑距離(cm)" ) %>
			<%= graph_type_link("GroundWater","地下水位","地下水位(m)" ) %>
			<%= graph_type_link("Daily_Rainfall","日累計雨量","累計雨量(mm)" ) %>
		</div>
	</div>
</div>