$darkblue:  rgba(0,90,200,0.6);
$blue:  #0077AA;
$black: #343434;
$opacity_black: rgba(0,0,0,0.4);
$opacity_white: rgba(225,225,225,0.6);

body{
	font-family: 'Source Sans Pro', serif;
	font-size: 14px;
	background-color: white;
	letter-spacing: 1px;
}

.bg-black{
	background-color: $black !important;
}
.bg-white{
	background-color: white;
}
.bg-blur{
	background-image: image-url("bg_blur.jpg");
	background-size: cover;
	// background-position: center;
	background-repeat: no-repeat; 
	transition: background 0.1s linear;
}

.no-padding{
	padding: 0;
}
.font{
	&-black{
		color: $black;
	}
	&-white{
		color: white;
	}
	&-darkblue{
		color: $darkblue;
	}
	&-30{
		font-size: 30px;
	}
	&-18{
		font-size: 18px;
	}
	&-16{
		font-size: 16px;
	}
	&-thin{
		font-weight: 100!important;
	}
}

.btn{
	&-bg{
		width:200px;
		height:40px;
		border: 1px solid $black;
	}
	&-fill-blue{
		&:hover{
			color: $darkblue;
			border: 1px solid;
			border-color: $darkblue;
		}
		
	}
}

@import 'normalize';
@import 'nav';
@import 'welcome';
@import 'projects';
@import 'project2';
@import 'footer';