#index{
	margin-top: -50px;
	background-image: image-url("bg.png");
	background-size: cover;
	background-repeat: no-repeat; 
	transition: background 0.1s linear;

}
.btn-index{
	color: black;
	&:hover{
		border-color: $black;
		color: white;
		background-color: $darkblue;
		// background-color: #e4e4e5;
	}
}