<div class="bg-white" id="nav-lighten">
	<div class="container" id="nav">
		<div class="row">
			<div class="col-md-12 text-right font-14">
				<%= link_to "Projects",projects_path ,class:"btn font-black" %>
				<%= link_to "Members",projects_path ,class:"btn font-black" %>
				<%= link_to "Home",welcome_index_path ,class:"btn font-black" %>
			</div>

		</div>
	</div>
</div>